<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

  <div class="container">
    <a class="navbar-brand" href="/">
      <img src="https://graph.facebook.com/714109309235665/picture?width=400&height=400"
        alt="avt" class="logo-avatar" style="height: 28px; width: 28px; border-radius: 50%; margin-right: 2px">
      Trang F8 Giả Mạo hehe
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/course/create">Đăng Khóa Học</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/me/stored/courses">Thông Tin Khóa Học</a>
        </li>
        <li class="nav-item bg-primary text-white me-2">
          <a class="nav-link" href="/me/stored/courses">Khóa Học Của Tôi</a>
        </li>
        <li class="nav-item bg-primary text-white">
          <a class="nav-link" href="/me/stored/snew">Bài Viết Của Tôi</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Đăng xuất</a>
        </li>
      </ul>
    </div>

  </div>
</nav>